<!-- File Name :- app.css
    Student Name :- Raj Koradia
    Student ID :- 300907532 -->
    
<!-- JavaScript Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>